@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

main {
    margin-top: 10px;
    background-color: #ff5733; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); 
}

.carrossel-edit-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    margin: 0 auto; 
    max-width: 1200px; 
}


.carrossel-edit-form {
    flex: 1 1 calc(30% - 15px); 
    padding: 20px; 
    border: 1px solid #e0e0e0;
    border-radius: 8px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.2s;
}
.imgAtualCarrossel img{
    border-radius: 8px;
    width: 100%;
    height: 200px;
    border-color: 1px solid #000000;
}

.carrossel-edit-form:hover {
    transform: translateY(-3px); 
}
main h1 {
    font-size: 2em; 
    color: #ffffff; 
    text-align: center; 
    margin-bottom: 20px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    font-family: 'Montserrat', sans-serif; 
}

main h3 {
    margin-top: 10px;
    font-size: 1.5em; 
    color: #ff5733; 
    margin-bottom: 20px; 
    font-family: 'Montserrat', sans-serif; 
    border-bottom: 2px solid #ff5733; 
    padding-bottom: 5px;
}


h3 {
    font-size: 1.25em; 
    color: #333; 
    margin-bottom: 10px; 
}

label {
    margin-top: 10px;
    font-weight: 500;
    color: #444;
    margin-bottom: 10px; 
    display: block; 
}

input[type="text"],
textarea,
input[type="file"] {
    font-weight: 300;
    width: 80%; 
    padding: 12px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    font-size: 1em; 
    margin-bottom: 15px; 
    transition: border-color 0.3s, box-shadow 0.3s; /* Transições suaves */
}

input[type="text"]:focus,
textarea:focus {
    border-color: #ff5733; 
    box-shadow: 0 0 5px rgba(255, 87, 51, 0.5); 
    outline: none; 
}

.imagem-atual {
    margin-top: 10px;
    max-width: 100%;
    border-radius: 4px; 
    border: 1px solid #ddd; 
}

.btn-atualizar  {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.btn-atualizar button {
    background-color:  #ff5733; 
    color: white; 
    padding: 12px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s, transform 0.2s; 
}

.btn-atualizar button:hover {
    background-color: #28a745; 
    transform: scale(1.05);
}
