@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

main {
    margin: 0;
    padding: 20px;
    background-color: #f7f9fc; 
}

h1, h2 {
    text-align: center;
    color: #333;
}

/* Estilização do formulário */
.form-produto {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.label {
    font-weight: bold;
    color: #555;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #007bff; /* Mudança de cor ao focar */
    outline: none;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.checkbox-input {
    margin-left: 10px;
}

.personalizacao-fields {
    display: none; /* Esconde os campos de personalização por padrão */
}

.personalizacao-fields.active {
    display: block; /* Mostra quando o checkbox está marcado */
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}
.img-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza a imagem na div */
    margin: 10px 0; /* Margem superior e inferior */
}

.img-atual {
    max-width: 100%; /* A imagem não deve ultrapassar a largura da div */
    height: auto; /* Mantém a proporção da imagem */
    border: 1px solid #ddd; 
    border-radius: 5px;
}


/* Responsividade */
@media (max-width: 768px) {
    .form-produto {
        padding: 20px;
    }

    .input-field, .btn-submit {
        padding: 10px;
    }
}
