.containerFooter{
    border-top: 1px solid #FFC80B;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    background-color: #ffffff
}
.direitoAutoral h1{
    font-size: 12px;
}
.suporte h1{
    font-size: 12px;
}
.redes-social{
    justify-content: center;
    align-items: center;
}
.redes-social ul li{
    list-style: none;
    align-items: center;
}
.lista {
    display: flex;
    align-items: center;
}
.item-list{
    margin: 5px;
}


@media screen and (max-width: 730px) {
    .containerFooter {
        padding: 1rem 2rem;
    }
    .nav-list{
        display: flex;
    }
}