body{

    background-color: #A9CCE3;
}
main{
    height: 100vh;
}
footer{
    margin-top: 100%;
}

.containerHome{
    width: 100%;
}
@media (max-width: 730px) {
    header{
        width: 100%;
    }
}
@media (max-width: 390px){
    
}