body{
    background-color: #ff5733;
}
main{
    height: 100vh;
}

.containerHome{
    width: 100%;
}
@media (max-width: 768px) {
    header{
        width: 100%;
    }
}
@media (max-width: 320px){
    
}