@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

.BemVindoAdmFun{
    justify-content: left;
    margin: 10px 10px;
    align-items: left;
    text-align: left;
}

.painelAdmfun{
    width: 100%;
    display: flex;
}
.painelAdmFun nav {  
    margin-top: 10px; 
    width: 100%;
    overflow: hidden;
    background-color: #ff5733;
  }
  
.painelAdmFun nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  }
  
.painelAdmFun nav a:hover {
    background-color: #000000;
    color: #ffffff;
    font-weight: 500;
  }
@media screen and (max-width: 730px) {
   .painelAdmFun{
        display: flex;
        flex-direction: column;
    }
}