/*body{
    text-align: center;
}
.container{
    justify-content: center;
    display: flex;
}
.funcionario{
    color: #fff;
    background-color: #f08218;
    margin: 20px;
    font-size: 25px;
}
.funcionario fieldset{
    align-items: center;
    text-align: center;
}
.funcionario ul {
    margin-left: 0;
    list-style: none;
}
.funcionario ul li a{
    color: #fff;
    text-decoration: none;
}
.funcionario a:hover{
    color: black;
}
.cliente{
    color: #fff;
    background-color: #f08218;
    margin: 20px;
    font-size: 25px;
}
.cliente fieldset{
    align-items: center;
    text-align: center;
}
.cliente ul {
    list-style: none;
}
.cliente ul li a{
    color: #fff;
    text-decoration: none;
}
.cliente a:hover{
    color: black;
}*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

.BemVindoAdm{
    margin: 10px 0;
    align-items: center;
    text-align: center;
}

.painelAdm{
    width: 100%;
    display: flex;
}
.painelAdm nav {  
    margin-top: 10px; 
    width: 100%;
    overflow: hidden;
    background-color: #ff5733;
  }
  
.painelAdm nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  }
  
.painelAdm nav a:hover {
    background-color: #000000;
    color: #ffffff;
    font-weight: 500;
  }
@media screen and (max-width: 730px) {
   .painelAdm{
        display: flex;
        flex-direction: column;
    }
}
.homeAdm{
    justify-content: center;
    align-items: center;
}
.homeAdm main h1 {
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 2rem;
  }
  
.homeAdm table {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.homeAdm td,
  th {
    border: 1px solid #ff5733;
    text-align: left;
    padding: 8px;
  }
  .homeAdm th{
    font-weight: 400;
  }
  
.homeAdm tr:nth-child(even) {
    background-color: #dddddd;
  }
  
.homeAdm td a1 {
    color: #ff5733;
  
  }
.section__btnFuncionario{
  align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

.section__btn {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
.section__btn .btnAdm:hover{
    background-color: #000000;
    border-color: 1px solid #ff5733;
}
  .btnAdm {
    align-items: center;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 120px;
    height: 35px;
    background-color: #ff5733;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
  }
  .gerenciarAdm{
    text-align: center;
  }
 
  .tdOperacao {
    border: 1px solid #ff5733;
    border-color: none;
    border: none;
    display:flex; 
    justify-content: center;
    align-items: center;
  }

  .btnalterar {
    border: none;
    width: 100px;
    padding: 5px 0px;
    background-color: rgb(1, 165, 42);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 500;
    border-radius: 3px;
    display: inline-block;  
  }
  
  .btnexcluir {
    border: none;
    width: 100px;
    padding: 5px 0px;
    background-color: rgb(182, 51, 46);
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 500;
    border-radius: 3px;
    display: inline-block;  
    margin-left: 0px;
  }
  .alterarExcluir{
    align-items: center;
  }
  .alertaSucessoError{
    width: 100%;
    align-items: left;
  }
  .alerta {
    background-color: #ff5733;
    width: 30%;
    justify-content: left;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 500;
    text-align: left;
  }

  .alerta.success {
      color: #ff5733;
      background-color: #ffffff;
  }

  .alerta.error {
      color: #ff5733;
      background-color: #ffffff;
  }
